/* LES TRUCS EN GENERAL!!! */

ul {
    max-height: 99%;
    max-width: 99%;
}

.logo {
    float: left;
    font-size: 25px;
    font-family: courier;
    color: black;
    margin-top: 10px;
    margin-left: 10px;
    text-decoration: none;
}

.sT {
    background-color: white;
    padding: 10px;
    margin: 10px;
    margin-left: 0px;
    width: 0px;
    heigth: 50px;
    color: #FF0000;
    font-family: OCR A;
    font-weight: bold;
    visibility: hidden;
}

.sb {
    background-color: white;
    padding: 10px;
    margin: 10px;
    margin-left: 50px;
    width: 0px;
    heigth: 50px;
    color: white;
    font-family: OCR A;
    font-weight: bold;
}

img.bannière {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.parallax {
    /* The image used */
    background-image: url("bannière.jpeg");

    height: 550px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sb {
  background-color: white;
  padding: 10px;
  margin: 10px;
  margin-top: 50px;
  width: 500px;
  heigth: 50px;
  color: black;
  font-family: OCR A;
  font-weight: bold;
  margin-left: 100px;

}

.menu {
    float: right;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    color: #FF0000;
    padding-right: 30px;
}

.LSD {
/*    max-height: 50px;
    max-width: 50px; */
    height: 55px;
    width: 55px;
    float: left;
}

/* footer */
.footer  {
    text-align: right;
    font-size: 15px;
    background-color: #000000;
    color: #00FF00;
    padding: 10px;
    font-family: courier;
}

.login {
    max-width: 35px;
    max-height: 35px;
    height: auto;
    width: auto;
    margin-top: 10px;
}

.chariot {
    max-width: 38px;
    max-height: 38px;
    height: auto;
    width: auto;
    margin-top: 10px;
}

/*---------*/




.feed {
    width: 1300px;
    margin-right: auto;
    margin-left: auto;
    max-height: 99%;
    max-width: 99%;
    color: #000000;
    padding-bottom: 70%;
    font-family: courier;
}

.container{
  height: 2000px;
  filter: alpha(opacity=0)
}


/*-----------*/

.row1 {
    width: 300px;
    padding: 49px;
    text-align: center;
    display: table-cell;
}

.row1:hover {
    /* background-color: black; */
    color: #3CB371;
    font-weight: bold;
}

.feed li {
    list-style-type: none;
    float: left;
}


.image2 {
    max-width: 99%;
    max-height: 99%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*--------*/


.dropdown {
    display: none;
}

.menuc {
    max-width: 38px;
    max-height: 38px;
    height: auto;
    width: auto;
    margin-top: 5px;
}

.menul {
    max-width: 35px;
    max-height: 35px;
    height: auto;
    width: auto;
    margin-top: 5px;
}



@media screen and (max-width: 900px) {
  .menu{
    display: none;
  }

  .dropdown {
    display: inline;
    float: right;
    margin: 9px;

  }

  .sT {
      width: 30%;
  }


  /********* START OF DROPDOWN ***********/

  .dropbtn {
    background-color: #FF0000;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    float: right;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
      position: relative;
      display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #303030;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
      color: #FF0000;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #FF0000;}
}

  /********* END OF DROPDOWN ***********/



/* SPECIALEMENT POUR INDEX.HTML */

.image {
    max-height: 99.9%;
    max-width: 99.9%;
}
img.image {
    display: block;
    margin-left: auto;
    margin-right: auto
}

/*---------*/

.slide {
    margin-left: auto;
    margin-right: auto;
    margin: 0px;
    padding: 0px;
}


.slide img{
    vertical-align: middle;
}


/* SPECIALEMENT POUR CART.HTML */
.cart {
    margin-top: 50px
}

.cartimg {
    float: left;
    margin-left: 50px;
    height: 300px;
    width: 300px;
}

.carttxt {
    float: left;
    padding: 50px;
    margin-top: 80px;
    margin-bottom: 120px;
    margin-left: 50px;
    font-size: 30px;
}



/* SPECIALEMENT POUR COMPTE.HTML */
.compteimg {
    max-height: 300px;
    max-width: 300px;
    height: auto;
    width: auto;
}

img.compteimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-bottom: 50%;
}

div.cf2 {
    text-align: center;
}

.cf2 textarea {
    resize: none;
    overflow: hidden;
    margin: 0 0 10px;
}

.cf2 input, .cf2 textarea {
    padding: 5px;
    border: none
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    color: #FF0000;
    margin: 0 0 5px;
    width: 100%;
    -webkit-transition: 0.5s ease all;
    transition: 0.5s ease all;
    background-color: #101010;
    -webkit-appearance: none;
    -moz-appearance: none;
    font: normal normal normal 16px/1.4em proxima-n-w01-reg,sans-serif;
    -webkit-appearance: none;
    border-radius: 0;
}

.cf2fieldMessage {
    min-height: 128px;
}
